.card {
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-top: 10px;

  .card_title {
    padding: 10px;
    font-weight: bold;
  }

  .card_description {
    font-size: 14px;
    padding: 10px;
  }

  .card_icon {
    display: flex;
    justify-content: space-between;
    margin: 6px;

    .user-icon {
      .icon.creator {
        width: 30px;
        height: 30px;
        border-radius: 50px;
      }

      .icon.commenter {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin-left: -16px;
      }
    }
  }
}

.add_new_card {
  border: 2px dashed #f4f4f4;
  display: block;
  width: 330px;
  height: 160px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 160px;
}
