@import "header";
@import "register";
@import "index";
@import "form";
@import "show";
@import "comment";
@import "profile";
@import "profile.edit";

body {
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 40px;
}

a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flash {
  position: fixed; /* 固定表示 */
  top: 70px; /* header の高さ分 */
  width: 100%;
  text-align: center;
}
