@import "header";
@import "register";
@import "index";
@import "form";


body {
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}